*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 10px
    background-color: $color-bg;
}

body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family:  'Rubik', sans-serif;
    color: $color-text;
    font-weight: 400;
}

.container{
    width: 114rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link,
a:visited{
    color: $color-text;
    text-decoration: none;
    font-weight: 400;
}